# Imports

In [1]:
%%capture
# capture will not print in notebook

import os
import sys
ENV_COLAB = 'google.colab' in sys.modules

if ENV_COLAB:

    !pip install pyspark
    !pip install koalas

    #### print
    print('Environment: Google Colaboratory.')

# NOTE: If we update modules in gcolab, we need to restart runtime.

# Pyspark setup

In [2]:
import numpy as np
import pandas as pd
import pyspark
from pyspark import SparkConf, SparkContext, SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf # @udf("integer") def myfunc(x,y): return x - y
from pyspark.sql import functions as F # stddev format_number date_format, dayofyear, when
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

print([(x.__name__,x.__version__) for x in [np, pd, pyspark]])

# setup pyspark
spark = pyspark.sql.SparkSession.builder.appName('bhishan').getOrCreate()
sc = spark.sparkContext
sqlContext = SQLContext(sc) # spark_df = sqlContext.createDataFrame(pandas_df)
sc.setLogLevel("INFO")

[('numpy', '1.18.5'), ('pandas', '1.0.5'), ('pyspark', '3.0.0')]

In [3]:
print("Using Spark version: {}".format(sc.version))

Using Spark version: 3.0.0

# Load the data

In [6]:
# data
sdf = sqlContext.createDataFrame([("Alberto", 2), ("Dakota", 2)],
                                  ["Name", "myage"])

sdf

DataFrame[Name: string, myage: bigint]

In [7]:
sdf.show()

+-------+-----+
|   Name|myage|
+-------+-----+
|Alberto|    2|
| Dakota|    2|
+-------+-----+

In [9]:
# using selectExpr
sdf2 = data.selectExpr("Name as name", "myage as age")
sdf2.show()

+-------+---+
|   name|age|
+-------+---+
|Alberto|  2|
| Dakota|  2|
+-------+---+

In [10]:
sdf.columns

['Name', 'myage']

In [11]:
sdf.count()

2

In [12]:
sdf.distinct().count()

2

In [14]:
sdf.describe(['Name']).show()

+-------+-------+
|summary|   Name|
+-------+-------+
|  count|      2|
|   mean|   null|
| stddev|   null|
|    min|Alberto|
|    max| Dakota|
+-------+-------+