In [14]:
import numpy as np
import pandas as pd


import pyspark
spark = pyspark.sql\
          .SparkSession\
          .builder\
          .appName('app')\
          .getOrCreate()

# sql
from pyspark.sql import functions as F
from pyspark.sql.types import *
from pyspark import SparkConf, SparkContext, SQLContext

sc = spark.sparkContext
sqlContext = SQLContext(sc)

df = pd.DataFrame({
    'id': np.random.randint(0,100000,365*3),
    'date': pd.date_range('2010-01-01',periods=365*3)
})


df.head()
sdf = sqlContext.createDataFrame(df)
sdf.printSchema()
sdf.show(5)

# create table
sdf.createOrReplaceTempView("MyTable")

root
 |-- id: long (nullable = true)
 |-- date: timestamp (nullable = true)

+-----+-------------------+
|   id|               date|
+-----+-------------------+
|74085|2010-01-01 00:00:00|
| 4881|2010-01-02 00:00:00|
|72140|2010-01-03 00:00:00|
| 7435|2010-01-04 00:00:00|
|47952|2010-01-05 00:00:00|
+-----+-------------------+
only showing top 5 rows

In [13]:
q = """
SELECT count(*) FROM MyTable TABLESAMPLE(2 percent)
""";

spark.sql(q).show()

+--------+
|count(1)|
+--------+
|      23|
+--------+