<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Imports" data-toc-modified-id="Imports-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Imports</a></span></li><li><span><a href="#Wikibooks-SQL-Exercise:-The-Computer-Store" data-toc-modified-id="Wikibooks-SQL-Exercise:-The-Computer-Store-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Wikibooks SQL Exercise: The Computer Store</a></span><ul class="toc-item"><li><span><a href="#manufacturer-data" data-toc-modified-id="manufacturer-data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>manufacturer data</a></span></li><li><span><a href="#products-data" data-toc-modified-id="products-data-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>products data</a></span></li><li><span><a href="#combine-data" data-toc-modified-id="combine-data-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>combine data</a></span></li></ul></li><li><span><a href="#Create-SQL-table-from-spark-dataframes" data-toc-modified-id="Create-SQL-table-from-spark-dataframes-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create SQL table from spark dataframes</a></span></li><li><span><a href="#Exercise-Questions" data-toc-modified-id="Exercise-Questions-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Exercise Questions</a></span><ul class="toc-item"><li><span><a href="#Select-the-names-of-all-the-products-in-the-store." data-toc-modified-id="Select-the-names-of-all-the-products-in-the-store.-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Select the names of all the products in the store.</a></span></li><li><span><a href="#Select-the-names-and-the-prices-of-all-the-products-in-the-store." data-toc-modified-id="Select-the-names-and-the-prices-of-all-the-products-in-the-store.-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Select the names and the prices of all the products in the store.</a></span></li><li><span><a href="#Select-the-name-of-the-products-with-a-price-less-than-or-equal-to-200." data-toc-modified-id="Select-the-name-of-the-products-with-a-price-less-than-or-equal-to-200.-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Select the name of the products with a price less than or equal to 200.</a></span></li><li><span><a href="#Select-all-the-products-with-a-price-between-60-and-120." data-toc-modified-id="Select-all-the-products-with-a-price-between-60-and-120.-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Select all the products with a price between 60 and 120.</a></span></li><li><span><a href="#Select-the-name-and-price-in-cents-(i.e.,-the-price-must-be-multiplied-by-100)" data-toc-modified-id="Select-the-name-and-price-in-cents-(i.e.,-the-price-must-be-multiplied-by-100)-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Select the name and price in cents (i.e., the price must be multiplied by 100)</a></span></li><li><span><a href="#Compute-the-average-price-of-all-the-products." data-toc-modified-id="Compute-the-average-price-of-all-the-products.-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>Compute the average price of all the products.</a></span></li><li><span><a href="#Compute-the-average-price-of-all-products-with-manufacturer-code-equal-to-2." data-toc-modified-id="Compute-the-average-price-of-all-products-with-manufacturer-code-equal-to-2.-4.7"><span class="toc-item-num">4.7&nbsp;&nbsp;</span>Compute the average price of all products with manufacturer code equal to 2.</a></span></li><li><span><a href="#Compute-the-number-of-products-with-a-price-larger-than-or-equal-to-180." data-toc-modified-id="Compute-the-number-of-products-with-a-price-larger-than-or-equal-to-180.-4.8"><span class="toc-item-num">4.8&nbsp;&nbsp;</span>Compute the number of products with a price larger than or equal to 180.</a></span></li><li><span><a href="#Select-the-name-and-price-of-all-products-with-a-price-larger-than-or-equal-to-180,-and-sort-first-by-price-(in-descending-order),-and-then-by-name-(in-ascending-order)." data-toc-modified-id="Select-the-name-and-price-of-all-products-with-a-price-larger-than-or-equal-to-180,-and-sort-first-by-price-(in-descending-order),-and-then-by-name-(in-ascending-order).-4.9"><span class="toc-item-num">4.9&nbsp;&nbsp;</span>Select the name and price of all products with a price larger than or equal to 180, and sort first by price (in descending order), and then by name (in ascending order).</a></span></li><li><span><a href="#Select-all-the-data-from-the-products,-including-all-the-data-for-each-product's-manufacturer." data-toc-modified-id="Select-all-the-data-from-the-products,-including-all-the-data-for-each-product's-manufacturer.-4.10"><span class="toc-item-num">4.10&nbsp;&nbsp;</span>Select all the data from the products, including all the data for each product's manufacturer.</a></span></li><li><span><a href="#Select-the-product-name,-price,-and-manufacturer-name-of-all-the-products." data-toc-modified-id="Select-the-product-name,-price,-and-manufacturer-name-of-all-the-products.-4.11"><span class="toc-item-num">4.11&nbsp;&nbsp;</span>Select the product name, price, and manufacturer name of all the products.</a></span></li><li><span><a href="#Select-the-average-price-of-each-manufacturer's-products,-showing-only-the-manufacturer's-code." data-toc-modified-id="Select-the-average-price-of-each-manufacturer's-products,-showing-only-the-manufacturer's-code.-4.12"><span class="toc-item-num">4.12&nbsp;&nbsp;</span>Select the average price of each manufacturer's products, showing only the manufacturer's code.</a></span></li><li><span><a href="#Select-the-average-price-of-each-manufacturer's-products,-showing-the-manufacturer's-name." data-toc-modified-id="Select-the-average-price-of-each-manufacturer's-products,-showing-the-manufacturer's-name.-4.13"><span class="toc-item-num">4.13&nbsp;&nbsp;</span>Select the average price of each manufacturer's products, showing the manufacturer's name.</a></span></li><li><span><a href="#Select-the-names-of-manufacturer-whose-products-have-an-average-price-larger-than-or-equal-to-150." data-toc-modified-id="Select-the-names-of-manufacturer-whose-products-have-an-average-price-larger-than-or-equal-to-150.-4.14"><span class="toc-item-num">4.14&nbsp;&nbsp;</span>Select the names of manufacturer whose products have an average price larger than or equal to 150.</a></span></li><li><span><a href="#Select-the-name-and-price-of-the-cheapest-product." data-toc-modified-id="Select-the-name-and-price-of-the-cheapest-product.-4.15"><span class="toc-item-num">4.15&nbsp;&nbsp;</span>Select the name and price of the cheapest product.</a></span></li><li><span><a href="#Select-the-name-of-each-manufacturer-along-with-the-name-and-price-of-its-most-expensive-product." data-toc-modified-id="Select-the-name-of-each-manufacturer-along-with-the-name-and-price-of-its-most-expensive-product.-4.16"><span class="toc-item-num">4.16&nbsp;&nbsp;</span>Select the name of each manufacturer along with the name and price of its most expensive product.</a></span></li><li><span><a href="#Add-a-new-product:-Loudspeakers,-70,-manufacturer-2." data-toc-modified-id="Add-a-new-product:-Loudspeakers,-70,-manufacturer-2.-4.17"><span class="toc-item-num">4.17&nbsp;&nbsp;</span>Add a new product: Loudspeakers, 70, manufacturer 2.</a></span></li><li><span><a href="#Update-the-name-of-product-8-to-&quot;Laser-Printer&quot;." data-toc-modified-id="Update-the-name-of-product-8-to-&quot;Laser-Printer&quot;.-4.18"><span class="toc-item-num">4.18&nbsp;&nbsp;</span>Update the name of product 8 to "Laser Printer".</a></span></li><li><span><a href="#Apply-a-10%-discount-to-all-products." data-toc-modified-id="Apply-a-10%-discount-to-all-products.-4.19"><span class="toc-item-num">4.19&nbsp;&nbsp;</span>Apply a 10% discount to all products.</a></span></li><li><span><a href="#Apply-a-10%-discount-to-all-products-with-a-price-larger-than-or-equal-to-120." data-toc-modified-id="Apply-a-10%-discount-to-all-products-with-a-price-larger-than-or-equal-to-120.-4.20"><span class="toc-item-num">4.20&nbsp;&nbsp;</span>Apply a 10% discount to all products with a price larger than or equal to 120.</a></span></li></ul></li></ul></div>

# Imports

This is wikibooks SQL Exercise "The Computer Store"
https://en.wikibooks.org/wiki/SQL_Exercises/The_computer_store

In [1]:
import time
time_start_notebook = time.time()

In [2]:
from bhishan import bp

/Users/poudel/miniconda3/envs/dataSc/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
import functools
from functools import reduce

In [4]:
import numpy as np
import pandas as pd

import pyspark

print([(x.__name__,x.__version__) for x in [np, pd, pyspark]])

[('numpy', '1.16.4'), ('pandas', '1.0.1'), ('pyspark', '2.4.4')]

In [5]:
# sql
from pyspark.sql.functions import col as _col
from pyspark.sql.functions import udf # @udf("integer") def myfunc(x,y): return x - y
from pyspark.sql import functions as F # stddev format_number date_format, dayofyear, when
from pyspark.sql.window import Window

from pyspark.sql.functions import (mean as _mean, min as _min,
                                   max as _max, avg as _avg,
                                   when as _when
                                  )

from pyspark.sql.types import StructField, StringType, IntegerType,  FloatType, StructType

In [6]:
from pyspark import SparkConf, SparkContext, SQLContext

spark = pyspark.sql.SparkSession.builder.appName('bhishan').getOrCreate()
sc = spark.sparkContext
sqlContext = SQLContext(sc) # spark_df = sqlContext.createDataFrame(pandas_df)
sc.setLogLevel("INFO")

In [7]:
bp.show_method_attributes(F,5)

,0,1,2,3,4
0,Column,ceil,first,map_from_entries,sin
1,DataFrame,coalesce,flatten,map_keys,since
2,DataType,col,floor,map_values,sinh
3,PandasUDFType,collect_list,format_number,max,size
4,PythonEvalType,collect_set,format_string,md5,skewness
5,SparkContext,column,from_json,mean,slice
6,StringType,concat,from_unixtime,min,sort_array
7,UserDefinedFunction,concat_ws,from_utc_timestamp,minute,soundex
8,abs,conv,functools,monotonically_increasing_id,spark_partition_id
9,acos,corr,get_json_object,month,split
10,add_months,cos,greatest,months_between,sqrt
11,approxCountDistinct,cosh,grouping,nanvl,stddev
12,approx_count_distinct,count,grouping_id,next_day,stddev_pop
13,array,countDistinct,hash,ntile,stddev_samp
14,array_contains,covar_pop,hex,pandas_udf,struct
15,array_distinct,covar_samp,hour,percent_rank,substring
16,array_except,crc32,hypot,posexplode,substring_index
17,array_intersect,create_map,ignore_unicode_prefix,posexplode_outer,sum
18,array_join,cume_dist,initcap,pow,sumDistinct
19,array_max,current_date,input_file_name,quarter,tan
20,array_min,current_timestamp,instr,radians,tanh
21,array_position,date_add,isnan,rand,toDegrees
22,array_remove,date_format,isnull,randn,toRadians
23,array_repeat,date_sub,json_tuple,rank,to_date
24,array_sort,date_trunc,kurtosis,regexp_extract,to_json
25,array_union,datediff,lag,regexp_replace,to_timestamp
26,arrays_overlap,dayofmonth,last,repeat,to_utc_timestamp
27,arrays_zip,dayofweek,last_day,reverse,translate
28,asc,dayofyear,lead,rint,trim
29,asc_nulls_first,decode,least,round,trunc
30,asc_nulls_last,degrees,length,row_number,udf
31,ascii,dense_rank,levenshtein,rpad,unbase64
32,asin,desc,lit,rtrim,unhex
33,atan,desc_nulls_first,locate,schema_of_json,unix_timestamp
34,atan2,desc_nulls_last,log,second,upper
35,avg,element_at,log10,sequence,var_pop
36,base64,encode,log1p,sha1,var_samp
37,basestring,exp,log2,sha2,variance
38,bin,explode,lower,shiftLeft,warnings
39,bitwiseNOT,explode_outer,lpad,shiftRight,weekofyear
40,blacklist,expm1,ltrim,shiftRightUnsigned,when
41,broadcast,expr,map_concat,shuffle,window
42,bround,factorial,map_from_arrays,signum,year
43,cbrt,,,,

# Wikibooks SQL Exercise: The Computer Store

![](https://upload.wikimedia.org/wikipedia/commons/b/b2/Computer-store-db.png)

> Please note the datatypes given are `SQLite` datatypes.
>
> `PK` and `FK` stand for **primary key** and **foreign key** respectively.

Note: These are postgres table not Sqlite as said in wikibooks.

## manufacturer data

In [8]:
dfm = pd.DataFrame({'code': [1, 2, 3, 4, 5, 6],
          'name': ['Sony', 'Creative Labs', 'Hewlett-Packard', 'Iomega', 'Fujitsu', 'Winchester']})
dfm

   code             name
0     1             Sony
1     2    Creative Labs
2     3  Hewlett-Packard
3     4           Iomega
4     5          Fujitsu
5     6       Winchester

In [9]:
dfm.dtypes

code     int64
name    object
dtype: object

In [10]:
schema = StructType([
    StructField('code',IntegerType(),True),
    StructField('name',StringType(),True)
    ])

sdfm = sqlContext.createDataFrame(dfm, schema)
sdfm.show()

+----+---------------+
|code|           name|
+----+---------------+
|   1|           Sony|
|   2|  Creative Labs|
|   3|Hewlett-Packard|
|   4|         Iomega|
|   5|        Fujitsu|
|   6|     Winchester|
+----+---------------+

## products data

In [11]:
dfp = pd.DataFrame({'code': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
          'name': ['Hard drive', 'Memory', 'ZIP drive', 'Floppy disk', 'Monitor', 'DVD drive', 'CD drive', 'Printer', 'Toner cartridge', 'DVD burner'],
          'price': [240, 120, 150, 5, 240, 180, 90, 270, 66, 180],
          'manufacturer': [5, 6, 4, 6, 1, 2, 2, 3, 3, 2]})
dfp

   code             name  price  manufacturer
0     1       Hard drive    240             5
1     2           Memory    120             6
2     3        ZIP drive    150             4
3     4      Floppy disk      5             6
4     5          Monitor    240             1
5     6        DVD drive    180             2
6     7         CD drive     90             2
7     8          Printer    270             3
8     9  Toner cartridge     66             3
9    10       DVD burner    180             2

In [12]:
dfp.dtypes

code             int64
name            object
price            int64
manufacturer     int64
dtype: object

In [13]:
schema = StructType([
    StructField('code',IntegerType(),True),
    StructField('name',StringType(),True),
    StructField('price',IntegerType(),True),
    StructField('manufacturer',IntegerType(),True),
    
    ])

sdfp = sqlContext.createDataFrame(dfp, schema)
sdfp.show()

+----+---------------+-----+------------+
|code|           name|price|manufacturer|
+----+---------------+-----+------------+
|   1|     Hard drive|  240|           5|
|   2|         Memory|  120|           6|
|   3|      ZIP drive|  150|           4|
|   4|    Floppy disk|    5|           6|
|   5|        Monitor|  240|           1|
|   6|      DVD drive|  180|           2|
|   7|       CD drive|   90|           2|
|   8|        Printer|  270|           3|
|   9|Toner cartridge|   66|           3|
|  10|     DVD burner|  180|           2|
+----+---------------+-----+------------+

## combine data

In [14]:
df = dfp.merge(dfm,left_on='manufacturer', right_on='code')
df

   code_x           name_x  price  manufacturer  code_y           name_y
0       1       Hard drive    240             5       5          Fujitsu
1       2           Memory    120             6       6       Winchester
2       4      Floppy disk      5             6       6       Winchester
3       3        ZIP drive    150             4       4           Iomega
4       5          Monitor    240             1       1             Sony
5       6        DVD drive    180             2       2    Creative Labs
6       7         CD drive     90             2       2    Creative Labs
7      10       DVD burner    180             2       2    Creative Labs
8       8          Printer    270             3       3  Hewlett-Packard
9       9  Toner cartridge     66             3       3  Hewlett-Packard

In [15]:
df1 = df.rename(columns={'code_x':'code_product',
                        'code_y': 'code_manufacturer',
                        'name_x': 'name_product',
                        'name_y': 'name_manufacturer'})

df1

,code_product,name_product,price,manufacturer,code_manufacturer,name_manufacturer
0,1,Hard drive,240,5,5,Fujitsu
1,2,Memory,120,6,6,Winchester
2,4,Floppy disk,5,6,6,Winchester
3,3,ZIP drive,150,4,4,Iomega
4,5,Monitor,240,1,1,Sony
5,6,DVD drive,180,2,2,Creative Labs
6,7,CD drive,90,2,2,Creative Labs
7,10,DVD burner,180,2,2,Creative Labs
8,8,Printer,270,3,3,Hewlett-Packard
9,9,Toner cartridge,66,3,3,Hewlett-Packard

In [16]:
# bp.show_method_attributes(sdfm,4)

In [17]:
# help(sdfm.join)

In [18]:
sdfp.show(2)

+----+----------+-----+------------+
|code|      name|price|manufacturer|
+----+----------+-----+------------+
|   1|Hard drive|  240|           5|
|   2|    Memory|  120|           6|
+----+----------+-----+------------+
only showing top 2 rows

In [19]:
sdfm.show(2)

+----+-------------+
|code|         name|
+----+-------------+
|   1|         Sony|
|   2|Creative Labs|
+----+-------------+
only showing top 2 rows

In [20]:
sdf1 = sdfp.join(sdfm,sdfp.manufacturer==sdfm.code)
sdf1.show()

+----+---------------+-----+------------+----+---------------+
|code|           name|price|manufacturer|code|           name|
+----+---------------+-----+------------+----+---------------+
|   5|        Monitor|  240|           1|   1|           Sony|
|   2|         Memory|  120|           6|   6|     Winchester|
|   4|    Floppy disk|    5|           6|   6|     Winchester|
|   8|        Printer|  270|           3|   3|Hewlett-Packard|
|   9|Toner cartridge|   66|           3|   3|Hewlett-Packard|
|   1|     Hard drive|  240|           5|   5|        Fujitsu|
|   3|      ZIP drive|  150|           4|   4|         Iomega|
|   6|      DVD drive|  180|           2|   2|  Creative Labs|
|   7|       CD drive|   90|           2|   2|  Creative Labs|
|  10|     DVD burner|  180|           2|   2|  Creative Labs|
+----+---------------+-----+------------+----+---------------+

In [21]:
sdf1.select('price').show(1) # this works
# sdf1.select('code').show(2) # this fails,

+-----+
|price|
+-----+
|  240|
+-----+
only showing top 1 row

In [22]:
sdfp.columns

['code', 'name', 'price', 'manufacturer']

In [23]:
sdfm.columns

['code', 'name']

In [24]:
# we have repeated column names, spark keeps duplicate column names unlike pandas.

In [25]:
sdfp.withColumnRenamed('code','code_product').show(2)

+------------+----------+-----+------------+
|code_product|      name|price|manufacturer|
+------------+----------+-----+------------+
|           1|Hard drive|  240|           5|
|           2|    Memory|  120|           6|
+------------+----------+-----+------------+
only showing top 2 rows

In [26]:
sdfp.selectExpr('code as code_product').show(2)

+------------+
|code_product|
+------------+
|           1|
|           2|
+------------+
only showing top 2 rows

In [27]:
# oldColumns = sdfp.schema.names

In [28]:
oldColumns = ['code','name']
newColumns = [i + '_product' for i in oldColumns]

sdfp2 = functools.reduce(lambda data, idx: data.withColumnRenamed(oldColumns[idx],
                                                                 newColumns[idx]),
                        range(len(oldColumns)),
                        sdfp
                       )
sdfp2.printSchema()

root
 |-- code_product: integer (nullable = true)
 |-- name_product: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- manufacturer: integer (nullable = true)

In [29]:
sdfp2.show(2)

+------------+------------+-----+------------+
|code_product|name_product|price|manufacturer|
+------------+------------+-----+------------+
|           1|  Hard drive|  240|           5|
|           2|      Memory|  120|           6|
+------------+------------+-----+------------+
only showing top 2 rows

In [30]:
sdfm.show(2)

+----+-------------+
|code|         name|
+----+-------------+
|   1|         Sony|
|   2|Creative Labs|
+----+-------------+
only showing top 2 rows

In [31]:
oldColumns = ['code','name']
newColumns = [i + '_manufacturer' for i in oldColumns]

sdfm2 = functools.reduce(lambda data, idx: data.withColumnRenamed(oldColumns[idx],
                                                                 newColumns[idx]),
                        range(len(oldColumns)),
                        sdfm
                       )


sdfm2.show(2)

+-----------------+-----------------+
|code_manufacturer|name_manufacturer|
+-----------------+-----------------+
|                1|             Sony|
|                2|    Creative Labs|
+-----------------+-----------------+
only showing top 2 rows

In [32]:
sdf = sdfp2.join(sdfm2,sdfp2.manufacturer==sdfm2.code_manufacturer)
sdf.show()

+------------+---------------+-----+------------+-----------------+-----------------+
|code_product|   name_product|price|manufacturer|code_manufacturer|name_manufacturer|
+------------+---------------+-----+------------+-----------------+-----------------+
|           5|        Monitor|  240|           1|                1|             Sony|
|           2|         Memory|  120|           6|                6|       Winchester|
|           4|    Floppy disk|    5|           6|                6|       Winchester|
|           8|        Printer|  270|           3|                3|  Hewlett-Packard|
|           9|Toner cartridge|   66|           3|                3|  Hewlett-Packard|
|           1|     Hard drive|  240|           5|                5|          Fujitsu|
|           3|      ZIP drive|  150|           4|                4|           Iomega|
|           6|      DVD drive|  180|           2|                2|    Creative Labs|
|           7|       CD drive|   90|           2|                2|    Creative Labs|
|          10|     DVD burner|  180|           2|                2|    Creative Labs|
+------------+---------------+-----+------------+-----------------+-----------------+

In [33]:
sdfp3 = sdfp.selectExpr([c + ' as product_' + c for c in sdfp.columns])
sdfp3.show()

+------------+---------------+-------------+--------------------+
|product_code|   product_name|product_price|product_manufacturer|
+------------+---------------+-------------+--------------------+
|           1|     Hard drive|          240|                   5|
|           2|         Memory|          120|                   6|
|           3|      ZIP drive|          150|                   4|
|           4|    Floppy disk|            5|                   6|
|           5|        Monitor|          240|                   1|
|           6|      DVD drive|          180|                   2|
|           7|       CD drive|           90|                   2|
|           8|        Printer|          270|                   3|
|           9|Toner cartridge|           66|                   3|
|          10|     DVD burner|          180|                   2|
+------------+---------------+-------------+--------------------+

In [34]:
sdfm3 = sdfm.selectExpr([c + ' as manufacturer_' + c for c in sdfm.columns])
sdfm3.show()

+-----------------+-----------------+
|manufacturer_code|manufacturer_name|
+-----------------+-----------------+
|                1|             Sony|
|                2|    Creative Labs|
|                3|  Hewlett-Packard|
|                4|           Iomega|
|                5|          Fujitsu|
|                6|       Winchester|
+-----------------+-----------------+

In [35]:
sdf3 = sdfp3.join(sdfm3,sdfp3.product_manufacturer==sdfm3.manufacturer_code)
sdf3.show()

+------------+---------------+-------------+--------------------+-----------------+-----------------+
|product_code|   product_name|product_price|product_manufacturer|manufacturer_code|manufacturer_name|
+------------+---------------+-------------+--------------------+-----------------+-----------------+
|           5|        Monitor|          240|                   1|                1|             Sony|
|           2|         Memory|          120|                   6|                6|       Winchester|
|           4|    Floppy disk|            5|                   6|                6|       Winchester|
|           8|        Printer|          270|                   3|                3|  Hewlett-Packard|
|           9|Toner cartridge|           66|                   3|                3|  Hewlett-Packard|
|           1|     Hard drive|          240|                   5|                5|          Fujitsu|
|           3|      ZIP drive|          150|                   4|                4|           Iomega|
|           6|      DVD drive|          180|                   2|                2|    Creative Labs|
|           7|       CD drive|           90|                   2|                2|    Creative Labs|
|          10|     DVD burner|          180|                   2|                2|    Creative Labs|
+------------+---------------+-------------+--------------------+-----------------+-----------------+

In [36]:
# our sdf has duplicate column names and gives problem,
# so, I have replaced the variable sdf by sdf2

sdf.show(2)

+------------+------------+-----+------------+-----------------+-----------------+
|code_product|name_product|price|manufacturer|code_manufacturer|name_manufacturer|
+------------+------------+-----+------------+-----------------+-----------------+
|           5|     Monitor|  240|           1|                1|             Sony|
|           2|      Memory|  120|           6|                6|       Winchester|
+------------+------------+-----+------------+-----------------+-----------------+
only showing top 2 rows

In [37]:
bp.show_method_attributes(sdf,4)

,0,1,2,3
0,agg,dropDuplicates,join,sortWithinPartitions
1,alias,drop_duplicates,limit,sql_ctx
2,approxQuantile,dropna,localCheckpoint,stat
3,cache,dtypes,na,storageLevel
4,checkpoint,exceptAll,orderBy,subtract
5,coalesce,explain,persist,summary
6,colRegex,fillna,printSchema,take
7,collect,filter,randomSplit,toDF
8,columns,first,rdd,toJSON
9,corr,foreach,registerTempTable,toLocalIterator
10,count,foreachPartition,repartition,toPandas
11,cov,freqItems,repartitionByRange,union
12,createGlobalTempView,groupBy,replace,unionAll
13,createOrReplaceGlobalTempView,groupby,rollup,unionByName
14,createOrReplaceTempView,head,sample,unpersist
15,createTempView,hint,sampleBy,where
16,crossJoin,intersect,schema,withColumn
17,crosstab,intersectAll,select,withColumnRenamed
18,cube,isLocal,selectExpr,withWatermark
19,describe,isStreaming,show,write
20,distinct,is_cached,sort,writeStream
21,drop,,,

In [38]:
bp.show_method_attributes(sdf.rdd,4) # rdd attributes

,0,1,2,3
0,aggregate,fullOuterJoin,max,saveAsTextFile
1,aggregateByKey,getCheckpointFile,mean,setName
2,barrier,getNumPartitions,meanApprox,sortBy
3,cache,getStorageLevel,min,sortByKey
4,cartesian,glom,name,stats
5,checkpoint,groupBy,partitionBy,stdev
6,coalesce,groupByKey,partitioner,subtract
7,cogroup,groupWith,persist,subtractByKey
8,collect,histogram,pipe,sum
9,collectAsMap,id,randomSplit,sumApprox
10,combineByKey,intersection,reduce,take
11,context,isCheckpointed,reduceByKey,takeOrdered
12,count,isEmpty,reduceByKeyLocally,takeSample
13,countApprox,isLocallyCheckpointed,repartition,toDF
14,countApproxDistinct,is_cached,repartitionAndSortWithinPartitions,toDebugString
15,countByKey,is_checkpointed,rightOuterJoin,toLocalIterator
16,countByValue,join,sample,top
17,ctx,keyBy,sampleByKey,treeAggregate
18,distinct,keys,sampleStdev,treeReduce
19,filter,leftOuterJoin,sampleVariance,union
20,first,localCheckpoint,saveAsHadoopDataset,unpersist
21,flatMap,lookup,saveAsHadoopFile,values
22,flatMapValues,map,saveAsNewAPIHadoopDataset,variance
23,fold,mapPartitions,saveAsNewAPIHadoopFile,zip
24,foldByKey,mapPartitionsWithIndex,saveAsPickleFile,zipWithIndex
25,foreach,mapPartitionsWithSplit,saveAsSequenceFile,zipWithUniqueId
26,foreachPartition,mapValues,,

# Create SQL table from spark dataframes

- https://spark.apache.org/docs/2.2.0/sql-programming-guide.html

**Global Temporary View** 

Temporary views in Spark SQL are session-scoped and will disappear if the session that creates it terminates. If you want to have a temporary view that is shared among all sessions and keep alive until the Spark application terminates, you can create a global temporary view. Global temporary view is tied to a system preserved database global_temp, and we must use the qualified name to refer it, e.g. `SELECT * FROM global_temp.view1`.

In [39]:
# Register the DataFrame as a SQL temporary view
sdfp.createOrReplaceTempView("Products")

In [40]:
# # Register the DataFrame as a global temporary view
# sdfp.createGlobalTempView("people")

In [41]:
# Register the DataFrame as a SQL temporary view
sdfm.createOrReplaceTempView("Manufacturers")

In [42]:
spark.sql("select * from Products").show()

+----+---------------+-----+------------+
|code|           name|price|manufacturer|
+----+---------------+-----+------------+
|   1|     Hard drive|  240|           5|
|   2|         Memory|  120|           6|
|   3|      ZIP drive|  150|           4|
|   4|    Floppy disk|    5|           6|
|   5|        Monitor|  240|           1|
|   6|      DVD drive|  180|           2|
|   7|       CD drive|   90|           2|
|   8|        Printer|  270|           3|
|   9|Toner cartridge|   66|           3|
|  10|     DVD burner|  180|           2|
+----+---------------+-----+------------+

In [43]:
sdf.show(2)

+------------+------------+-----+------------+-----------------+-----------------+
|code_product|name_product|price|manufacturer|code_manufacturer|name_manufacturer|
+------------+------------+-----+------------+-----------------+-----------------+
|           5|     Monitor|  240|           1|                1|             Sony|
|           2|      Memory|  120|           6|                6|       Winchester|
+------------+------------+-----+------------+-----------------+-----------------+
only showing top 2 rows

# Exercise Questions

## Select the names of all the products in the store.

<div class="alert alert-block alert-info">
<b>Question:</b> 
    1. Select the names of all the products in the store.
</div>

In [44]:
# dfp['name'] # series
dfp[['name']] # dataframe

              name
0       Hard drive
1           Memory
2        ZIP drive
3      Floppy disk
4          Monitor
5        DVD drive
6         CD drive
7          Printer
8  Toner cartridge
9       DVD burner

In [45]:
# sdfp[['name']].show()
sdfp.select('name').show()

+---------------+
|           name|
+---------------+
|     Hard drive|
|         Memory|
|      ZIP drive|
|    Floppy disk|
|        Monitor|
|      DVD drive|
|       CD drive|
|        Printer|
|Toner cartridge|
|     DVD burner|
+---------------+

In [46]:
spark.sql("select name from Products").show()

+---------------+
|           name|
+---------------+
|     Hard drive|
|         Memory|
|      ZIP drive|
|    Floppy disk|
|        Monitor|
|      DVD drive|
|       CD drive|
|        Printer|
|Toner cartridge|
|     DVD burner|
+---------------+

## Select the names and the prices of all the products in the store.

<div class="alert alert-block alert-info">
<b>Question:</b> 
    2. Select the names and the prices of all the products in the store.
</div>

In [47]:
dfp.columns

Index(['code', 'name', 'price', 'manufacturer'], dtype='object')

In [48]:
dfp[['name','price']]

              name  price
0       Hard drive    240
1           Memory    120
2        ZIP drive    150
3      Floppy disk      5
4          Monitor    240
5        DVD drive    180
6         CD drive     90
7          Printer    270
8  Toner cartridge     66
9       DVD burner    180

In [49]:
sdfp[['name','price']].show(2)

+----------+-----+
|      name|price|
+----------+-----+
|Hard drive|  240|
|    Memory|  120|
+----------+-----+
only showing top 2 rows

In [50]:
sdfp.select('name','price').show(2)

+----------+-----+
|      name|price|
+----------+-----+
|Hard drive|  240|
|    Memory|  120|
+----------+-----+
only showing top 2 rows

In [51]:
spark.sql("select name, price from Products limit 2").show()

+----------+-----+
|      name|price|
+----------+-----+
|Hard drive|  240|
|    Memory|  120|
+----------+-----+

## Select the name of the products with a price less than or equal to 200.

<div class="alert alert-block alert-info">
<b>Question:</b> 
    3. Select the name of the products with a price less than or equal to $200.
</div>

In [52]:
dfp.head(1)

   code        name  price  manufacturer
0     1  Hard drive    240             5

In [53]:
dfp.loc[dfp.price <=200, 'name']

1             Memory
2          ZIP drive
3        Floppy disk
5          DVD drive
6           CD drive
8    Toner cartridge
9         DVD burner
Name: name, dtype: object

In [54]:
# dfp.query("price <= 200")['name']

In [55]:
sdfp[sdfp.price<=200].select('name').show()

+---------------+
|           name|
+---------------+
|         Memory|
|      ZIP drive|
|    Floppy disk|
|      DVD drive|
|       CD drive|
|Toner cartridge|
|     DVD burner|
+---------------+

In [56]:
sdfp[['name']][sdfp.price<=200].show()

+---------------+
|           name|
+---------------+
|         Memory|
|      ZIP drive|
|    Floppy disk|
|      DVD drive|
|       CD drive|
|Toner cartridge|
|     DVD burner|
+---------------+

In [57]:
sdfp.filter(sdfp.price<=200).select('name').show()

+---------------+
|           name|
+---------------+
|         Memory|
|      ZIP drive|
|    Floppy disk|
|      DVD drive|
|       CD drive|
|Toner cartridge|
|     DVD burner|
+---------------+

In [58]:
sdfp.where((sdfp.price <=200)).select('name').show()

+---------------+
|           name|
+---------------+
|         Memory|
|      ZIP drive|
|    Floppy disk|
|      DVD drive|
|       CD drive|
|Toner cartridge|
|     DVD burner|
+---------------+

In [59]:
spark.sql("select name from Products where price <= 200").show()

+---------------+
|           name|
+---------------+
|         Memory|
|      ZIP drive|
|    Floppy disk|
|      DVD drive|
|       CD drive|
|Toner cartridge|
|     DVD burner|
+---------------+

## Select all the products with a price between 60 and 120.

<div class="alert alert-block alert-info">
<b>Question:</b> 
    4. Select all the products with a price between \$60 and \$120.
</div>

In [60]:
dfp.query("60<= price <= 120")

   code             name  price  manufacturer
1     2           Memory    120             6
6     7         CD drive     90             2
8     9  Toner cartridge     66             3

In [61]:
dfp.loc[ (dfp.price>=60) & (dfp.price<=120)]

   code             name  price  manufacturer
1     2           Memory    120             6
6     7         CD drive     90             2
8     9  Toner cartridge     66             3

In [62]:
# dfp.loc[ 60<= dfp.price <=120] # syntax error.

In [63]:
dfp.loc[dfp.price.between(60,120)]

   code             name  price  manufacturer
1     2           Memory    120             6
6     7         CD drive     90             2
8     9  Toner cartridge     66             3

In [64]:
sdfp[sdfp.price.between(60,120)].show()

+----+---------------+-----+------------+
|code|           name|price|manufacturer|
+----+---------------+-----+------------+
|   2|         Memory|  120|           6|
|   7|       CD drive|   90|           2|
|   9|Toner cartridge|   66|           3|
+----+---------------+-----+------------+

In [65]:
spark.sql("select * from Products where price between 60 and 120").show()

+----+---------------+-----+------------+
|code|           name|price|manufacturer|
+----+---------------+-----+------------+
|   2|         Memory|  120|           6|
|   7|       CD drive|   90|           2|
|   9|Toner cartridge|   66|           3|
+----+---------------+-----+------------+

## Select the name and price in cents (i.e., the price must be multiplied by 100)

<div class="alert alert-block alert-info">
<b>Question:</b> 
    5. Select the name and price in cents (i.e., the price must be multiplied by 100)
</div>

In [66]:
# dfp['price_cents'] = dfp['price'] * 100
# dfp[['name','price_cents']]

In [67]:
dfp.head(2)

   code        name  price  manufacturer
0     1  Hard drive    240             5
1     2      Memory    120             6

In [68]:
dfp.assign(
price_cents = dfp['price']*100)[['name','price_cents']]

              name  price_cents
0       Hard drive        24000
1           Memory        12000
2        ZIP drive        15000
3      Floppy disk          500
4          Monitor        24000
5        DVD drive        18000
6         CD drive         9000
7          Printer        27000
8  Toner cartridge         6600
9       DVD burner        18000

In [69]:
sdfp.withColumn('price_cents',
               sdfp['price']*100)[['name', 'price_cents']].show()

+---------------+-----------+
|           name|price_cents|
+---------------+-----------+
|     Hard drive|      24000|
|         Memory|      12000|
|      ZIP drive|      15000|
|    Floppy disk|        500|
|        Monitor|      24000|
|      DVD drive|      18000|
|       CD drive|       9000|
|        Printer|      27000|
|Toner cartridge|       6600|
|     DVD burner|      18000|
+---------------+-----------+

In [70]:
spark.sql("select name, price * 100 as price_cents from Products").show()

+---------------+-----------+
|           name|price_cents|
+---------------+-----------+
|     Hard drive|      24000|
|         Memory|      12000|
|      ZIP drive|      15000|
|    Floppy disk|        500|
|        Monitor|      24000|
|      DVD drive|      18000|
|       CD drive|       9000|
|        Printer|      27000|
|Toner cartridge|       6600|
|     DVD burner|      18000|
+---------------+-----------+

## Compute the average price of all the products.

<div class="alert alert-block alert-info">
<b>Question:</b> 
    6. Compute the average price of all the products.
</div>

In [71]:
dfp['price'].mean()

154.1

In [72]:
sdfp.select(_mean('price')).show()

+----------+
|avg(price)|
+----------+
|     154.1|
+----------+

In [73]:
sdfp.select(F.mean(sdfp['price'])).show()

+----------+
|avg(price)|
+----------+
|     154.1|
+----------+

In [74]:
sdfp.select(_mean('price')).collect()[0].asDict()['avg(price)']

154.1

In [75]:
sdf.select("price").rdd.max() # .max() works, .mean() fails.

Row(price=270)

In [76]:
# [i for i in dir(sdf.select("price").rdd) if 'm' in i if i[0]!='_']
# this shows mean, but does not work

In [77]:
sdfp.select(*[F.mean(c).alias(c) for c in ['code','price','manufacturer']]).show()

+----+-----+------------+
|code|price|manufacturer|
+----+-----+------------+
| 5.5|154.1|         3.4|
+----+-----+------------+

In [78]:
sdfp.describe().show()

+-------+------------------+---------+-----------------+-----------------+
|summary|              code|     name|            price|     manufacturer|
+-------+------------------+---------+-----------------+-----------------+
|  count|                10|       10|               10|               10|
|   mean|               5.5|     null|            154.1|              3.4|
| stddev|3.0276503540974917|     null|84.86125931974692|1.776388345929897|
|    min|                 1| CD drive|                5|                1|
|    max|                10|ZIP drive|              270|                6|
+-------+------------------+---------+-----------------+-----------------+

In [79]:
sdfp.select([_mean('code'),
             _min('price'),
             _max('manufacturer')]
           ).show()

+---------+----------+-----------------+
|avg(code)|min(price)|max(manufacturer)|
+---------+----------+-----------------+
|      5.5|         5|                6|
+---------+----------+-----------------+

In [80]:
spark.sql("select avg(price) from Products").show()

+----------+
|avg(price)|
+----------+
|     154.1|
+----------+

## Compute the average price of all products with manufacturer code equal to 2.

<div class="alert alert-block alert-info">
<b>Question:</b> 
    7. Compute the average price of all products with manufacturer code equal to 2.
</div>

In [81]:
dfp[dfp.manufacturer==2]

   code        name  price  manufacturer
5     6   DVD drive    180             2
6     7    CD drive     90             2
9    10  DVD burner    180             2

In [82]:
dfp.price[dfp.manufacturer==2].mean()

150.0

In [83]:
# Never do:
dfp[dfp.manufacturer==2]['price'].mean()
# never select whole dataframe, if you just need one series.

150.0

In [84]:
#********* spark***************

In [85]:
sdfp[['price']][sdfp.manufacturer==2].show()

+-----+
|price|
+-----+
|  180|
|   90|
|  180|
+-----+

In [86]:
sdfp[['price']][sdfp.manufacturer==2].describe().show()

+-------+-----------------+
|summary|            price|
+-------+-----------------+
|  count|                3|
|   mean|            150.0|
| stddev|51.96152422706632|
|    min|               90|
|    max|              180|
+-------+-----------------+

In [87]:
sdfp[['price']][sdfp.manufacturer==2].agg({"price": "avg"}).show()

+----------+
|avg(price)|
+----------+
|     150.0|
+----------+

In [88]:
sdfp[['price']][sdfp.manufacturer==2].agg(_avg(_col('price'))).show()

+----------+
|avg(price)|
+----------+
|     150.0|
+----------+

In [89]:
# bad
sdfp.filter(sdfp['manufacturer'] == 2).agg(_avg(_col("price"))).show()

+----------+
|avg(price)|
+----------+
|     150.0|
+----------+

In [90]:
# good
sdfp.select(_avg(_when(sdfp['manufacturer']==2, 
                       sdfp['price']))
           ).show()

+------------------------------------------------+
|avg(CASE WHEN (manufacturer = 2) THEN price END)|
+------------------------------------------------+
|                                           150.0|
+------------------------------------------------+

In [91]:
spark.sql("""
select avg(price)
from Products
where manufacturer =2
""").show()

+----------+
|avg(price)|
+----------+
|     150.0|
+----------+

## Compute the number of products with a price larger than or equal to 180.

<div class="alert alert-block alert-info">
<b>Question:</b> 
    8. Compute the number of products with a price larger than or equal to $180.
</div>

In [92]:
dfp[dfp.price >= 180].shape[0]

5

In [93]:
dfp.price[dfp.price >= 180].shape[0]

5

In [94]:
sdfp[['price']][sdfp.price>=180].show()

+-----+
|price|
+-----+
|  240|
|  240|
|  180|
|  270|
|  180|
+-----+

In [95]:
sdfp[['price']][sdfp.price>=180].agg({'price':'count'}).show()

+------------+
|count(price)|
+------------+
|           5|
+------------+

In [96]:
sdfp[['price']][_col('price') >=180].agg({'price':'count'}).show()

+------------+
|count(price)|
+------------+
|           5|
+------------+

In [97]:
spark.sql("""
select count(price)
from Products
where price >= 180
""").show()

+------------+
|count(price)|
+------------+
|           5|
+------------+

##  Select the name and price of all products with a price larger than or equal to 180, and sort first by price (in descending order), and then by name (in ascending order).

<div class="alert alert-block alert-info">
<b>Question:</b> 
    9. Select the name and price of all products with a price larger than or equal to $180, and sort first by price (in descending order), and then by name (in ascending order).
</div>

In [98]:
dfp[['name','price']].query("price >= 180")\
.sort_values(['price','name'],ascending=[False,True])

         name  price
7     Printer    270
0  Hard drive    240
4     Monitor    240
9  DVD burner    180
5   DVD drive    180

In [99]:
sdfp.select('name','price').filter(sdfp.price >= 180)\
.orderBy(['price','name'],ascending=[False,True]).show()

+----------+-----+
|      name|price|
+----------+-----+
|   Printer|  270|
|Hard drive|  240|
|   Monitor|  240|
|DVD burner|  180|
| DVD drive|  180|
+----------+-----+

In [100]:
sdfp[['name','price']][sdfp.price >= 180]\
.orderBy(['price','name'],ascending=[False,True]).show()

+----------+-----+
|      name|price|
+----------+-----+
|   Printer|  270|
|Hard drive|  240|
|   Monitor|  240|
|DVD burner|  180|
| DVD drive|  180|
+----------+-----+

In [101]:
sdfp[['name','price']].filter(sdfp.price >= 180)\
.orderBy(F.desc('price'),F.asc('name')).show()

+----------+-----+
|      name|price|
+----------+-----+
|   Printer|  270|
|Hard drive|  240|
|   Monitor|  240|
|DVD burner|  180|
| DVD drive|  180|
+----------+-----+

In [102]:
# sql

In [103]:
spark.sql("""
select name, price
from Products
where price >= 180
order by price desc, name asc
""").show()

+----------+-----+
|      name|price|
+----------+-----+
|   Printer|  270|
|Hard drive|  240|
|   Monitor|  240|
|DVD burner|  180|
| DVD drive|  180|
+----------+-----+

## Select all the data from the products, including all the data for each product's manufacturer.

<div class="alert alert-block alert-info">
<b>Question:</b> 
    10. Select all the data from the products, including all the data for each product's manufacturer.
</div>

In [104]:
# dfp.merge(dfm,left_on='manufacturer', right_on='code',how='left')

In [105]:
sdfp.join(sdfm,sdfp.manufacturer==sdfm.code).show() # this is bad, does not work.

+----+---------------+-----+------------+----+---------------+
|code|           name|price|manufacturer|code|           name|
+----+---------------+-----+------------+----+---------------+
|   5|        Monitor|  240|           1|   1|           Sony|
|   2|         Memory|  120|           6|   6|     Winchester|
|   4|    Floppy disk|    5|           6|   6|     Winchester|
|   8|        Printer|  270|           3|   3|Hewlett-Packard|
|   9|Toner cartridge|   66|           3|   3|Hewlett-Packard|
|   1|     Hard drive|  240|           5|   5|        Fujitsu|
|   3|      ZIP drive|  150|           4|   4|         Iomega|
|   6|      DVD drive|  180|           2|   2|  Creative Labs|
|   7|       CD drive|   90|           2|   2|  Creative Labs|
|  10|     DVD burner|  180|           2|   2|  Creative Labs|
+----+---------------+-----+------------+----+---------------+

In [106]:
# sdfp.join(sdfm,sdfp.manufacturer==sdfm.code).select('name').show()
# Py4JJavaError
# AnalysisException: "Reference 'name' is ambiguous, could be: name, name.;"

In [107]:
sdfp.take(1)

[Row(code=1, name='Hard drive', price=240, manufacturer=5)]

In [108]:
sdfm.take(1)

[Row(code=1, name='Sony')]

In [109]:
# sdfp.show(2)

In [110]:
sdfm.show(2)

+----+-------------+
|code|         name|
+----+-------------+
|   1|         Sony|
|   2|Creative Labs|
+----+-------------+
only showing top 2 rows

In [111]:
(sdfp.selectExpr('code as code_proj',
                 'name as name_proj',
                 'price','manufacturer')
     .alias('A')
.join(
    sdfm.selectExpr('code as code_manu','name as manu')
        .alias('B'),
    _col('A.manufacturer') == _col('B.code_manu')
      )
.show()
)

+---------+---------------+-----+------------+---------+---------------+
|code_proj|      name_proj|price|manufacturer|code_manu|           manu|
+---------+---------------+-----+------------+---------+---------------+
|        5|        Monitor|  240|           1|        1|           Sony|
|        2|         Memory|  120|           6|        6|     Winchester|
|        4|    Floppy disk|    5|           6|        6|     Winchester|
|        8|        Printer|  270|           3|        3|Hewlett-Packard|
|        9|Toner cartridge|   66|           3|        3|Hewlett-Packard|
|        1|     Hard drive|  240|           5|        5|        Fujitsu|
|        3|      ZIP drive|  150|           4|        4|         Iomega|
|        6|      DVD drive|  180|           2|        2|  Creative Labs|
|        7|       CD drive|   90|           2|        2|  Creative Labs|
|       10|     DVD burner|  180|           2|        2|  Creative Labs|
+---------+---------------+-----+------------+---------+---------------+

In [112]:
dfp.merge(dfm,left_on='manufacturer', right_on='code',how='left')

   code_x           name_x  price  manufacturer  code_y           name_y
0       1       Hard drive    240             5       5          Fujitsu
1       2           Memory    120             6       6       Winchester
2       3        ZIP drive    150             4       4           Iomega
3       4      Floppy disk      5             6       6       Winchester
4       5          Monitor    240             1       1             Sony
5       6        DVD drive    180             2       2    Creative Labs
6       7         CD drive     90             2       2    Creative Labs
7       8          Printer    270             3       3  Hewlett-Packard
8       9  Toner cartridge     66             3       3  Hewlett-Packard
9      10       DVD burner    180             2       2    Creative Labs

In [113]:
spark.sql("""
select P.code as code_proj, P.name as name_proj, price, 
       manufacturer, M.code as code_manu, M.name as name_manu
from Products P inner join Manufacturers M
on P.manufacturer = M.code
""").show()

+---------+---------------+-----+------------+---------+---------------+
|code_proj|      name_proj|price|manufacturer|code_manu|      name_manu|
+---------+---------------+-----+------------+---------+---------------+
|        5|        Monitor|  240|           1|        1|           Sony|
|        2|         Memory|  120|           6|        6|     Winchester|
|        4|    Floppy disk|    5|           6|        6|     Winchester|
|        8|        Printer|  270|           3|        3|Hewlett-Packard|
|        9|Toner cartridge|   66|           3|        3|Hewlett-Packard|
|        1|     Hard drive|  240|           5|        5|        Fujitsu|
|        3|      ZIP drive|  150|           4|        4|         Iomega|
|        6|      DVD drive|  180|           2|        2|  Creative Labs|
|        7|       CD drive|   90|           2|        2|  Creative Labs|
|       10|     DVD burner|  180|           2|        2|  Creative Labs|
+---------+---------------+-----+------------+---------+---------------+

## Select the product name, price, and manufacturer name of all the products.

<div class="alert alert-block alert-info">
<b>Question:</b> 
    11. Select the product name, price, and manufacturer name of all the products.
</div>

In [114]:
dfp.head(2)

   code        name  price  manufacturer
0     1  Hard drive    240             5
1     2      Memory    120             6

In [115]:
dfm.head(2)

   code           name
0     1           Sony
1     2  Creative Labs

In [116]:
dfp.merge(dfm,left_on='manufacturer',
          right_on='code',
          suffixes=('_proj','_manu')
         )[['name_proj','price','name_manu']]

         name_proj  price        name_manu
0       Hard drive    240          Fujitsu
1           Memory    120       Winchester
2      Floppy disk      5       Winchester
3        ZIP drive    150           Iomega
4          Monitor    240             Sony
5        DVD drive    180    Creative Labs
6         CD drive     90    Creative Labs
7       DVD burner    180    Creative Labs
8          Printer    270  Hewlett-Packard
9  Toner cartridge     66  Hewlett-Packard

In [117]:
# dfm.set_index('code')
# dfm.set_index('code')['name']
# dfp['manufacturer'].map(dfm.set_index('code')['name'])

In [118]:
dfp[['name','price']].assign(
name_manu = dfp['manufacturer'].map(dfm.set_index('code')['name']))

              name  price        name_manu
0       Hard drive    240          Fujitsu
1           Memory    120       Winchester
2        ZIP drive    150           Iomega
3      Floppy disk      5       Winchester
4          Monitor    240             Sony
5        DVD drive    180    Creative Labs
6         CD drive     90    Creative Labs
7          Printer    270  Hewlett-Packard
8  Toner cartridge     66  Hewlett-Packard
9       DVD burner    180    Creative Labs

In [119]:
# using spark

In [120]:
(sdfp.selectExpr(
                 'name as name_proj',
                 'price','manufacturer')
     .alias('A')
.join(
    sdfm.selectExpr('code as code_manu','name as name_manu')
        .alias('B'),
    _col('A.manufacturer') == _col('B.code_manu')
      )
.select('name_proj','price','name_manu')
.show()
)

+---------------+-----+---------------+
|      name_proj|price|      name_manu|
+---------------+-----+---------------+
|        Monitor|  240|           Sony|
|         Memory|  120|     Winchester|
|    Floppy disk|    5|     Winchester|
|        Printer|  270|Hewlett-Packard|
|Toner cartridge|   66|Hewlett-Packard|
|     Hard drive|  240|        Fujitsu|
|      ZIP drive|  150|         Iomega|
|      DVD drive|  180|  Creative Labs|
|       CD drive|   90|  Creative Labs|
|     DVD burner|  180|  Creative Labs|
+---------------+-----+---------------+

In [121]:
# using sql

In [122]:
spark.sql("""
select P.name as name_proj, P.price as price,
       M.name as name_manu
from Products P inner join Manufacturers M
on P.manufacturer = M.code

"""
).show()

+---------------+-----+---------------+
|      name_proj|price|      name_manu|
+---------------+-----+---------------+
|        Monitor|  240|           Sony|
|         Memory|  120|     Winchester|
|    Floppy disk|    5|     Winchester|
|        Printer|  270|Hewlett-Packard|
|Toner cartridge|   66|Hewlett-Packard|
|     Hard drive|  240|        Fujitsu|
|      ZIP drive|  150|         Iomega|
|      DVD drive|  180|  Creative Labs|
|       CD drive|   90|  Creative Labs|
|     DVD burner|  180|  Creative Labs|
+---------------+-----+---------------+

##  Select the average price of each manufacturer's products, showing only the manufacturer's code.

<div class="alert alert-block alert-info">
<b>Question:</b> 
    12. Select the average price of each manufacturer's products, showing only the manufacturer's code.
</div>

In [123]:
dfp.head(2)

   code        name  price  manufacturer
0     1  Hard drive    240             5
1     2      Memory    120             6

In [124]:
dfm.head(2)

   code           name
0     1           Sony
1     2  Creative Labs

In [125]:
dfp.groupby('manufacturer')['price'].mean()

manufacturer
1    240.0
2    150.0
3    168.0
4    150.0
5    240.0
6     62.5
Name: price, dtype: float64

In [126]:
dfp['manufacturer'].unique()

array([5, 6, 4, 1, 2, 3])

In [127]:
dfp.groupby('manufacturer')['price'].mean()

manufacturer
1    240.0
2    150.0
3    168.0
4    150.0
5    240.0
6     62.5
Name: price, dtype: float64

In [128]:
# spark

In [129]:
sdfp.groupBy('manufacturer').mean().show()

+------------+-----------------+----------+-----------------+
|manufacturer|        avg(code)|avg(price)|avg(manufacturer)|
+------------+-----------------+----------+-----------------+
|           1|              5.0|     240.0|              1.0|
|           6|              3.0|      62.5|              6.0|
|           3|              8.5|     168.0|              3.0|
|           5|              1.0|     240.0|              5.0|
|           4|              3.0|     150.0|              4.0|
|           2|7.666666666666667|     150.0|              2.0|
+------------+-----------------+----------+-----------------+

In [130]:
gby = sdfp.groupBy('manufacturer')
gby.agg({'price':'avg'}).show()

+------------+----------+
|manufacturer|avg(price)|
+------------+----------+
|           1|     240.0|
|           6|      62.5|
|           3|     168.0|
|           5|     240.0|
|           4|     150.0|
|           2|     150.0|
+------------+----------+

In [131]:
# sql

In [132]:
spark.sql("""
select manufacturer, avg(price)
from Products
group by manufacturer
""").show()

+------------+----------+
|manufacturer|avg(price)|
+------------+----------+
|           1|     240.0|
|           6|      62.5|
|           3|     168.0|
|           5|     240.0|
|           4|     150.0|
|           2|     150.0|
+------------+----------+

## Select the average price of each manufacturer's products, showing the manufacturer's name.

<div class="alert alert-block alert-info">
<b>Question:</b> 
    13. Select the average price of each manufacturer's products, showing the manufacturer's name.
</div>

In [133]:
dfp.merge(dfm,left_on='manufacturer', right_on='code')\
.groupby('name_y')['price'].mean()

name_y
Creative Labs      150.0
Fujitsu            240.0
Hewlett-Packard    168.0
Iomega             150.0
Sony               240.0
Winchester          62.5
Name: price, dtype: float64

In [134]:
# spark

In [135]:
sdf.show(2)

+------------+------------+-----+------------+-----------------+-----------------+
|code_product|name_product|price|manufacturer|code_manufacturer|name_manufacturer|
+------------+------------+-----+------------+-----------------+-----------------+
|           5|     Monitor|  240|           1|                1|             Sony|
|           2|      Memory|  120|           6|                6|       Winchester|
+------------+------------+-----+------------+-----------------+-----------------+
only showing top 2 rows

In [136]:
sdf.groupBy('name_manufacturer').agg({'price':'avg'}).show()

+-----------------+----------+
|name_manufacturer|avg(price)|
+-----------------+----------+
|           Iomega|     150.0|
|    Creative Labs|     150.0|
|             Sony|     240.0|
|          Fujitsu|     240.0|
|       Winchester|      62.5|
|  Hewlett-Packard|     168.0|
+-----------------+----------+

In [137]:
# sql

In [138]:
spark.sql("""
select M.name, avg(price)
from Products P inner join Manufacturers M
on P.manufacturer = M.code
group by M.name
""").show()

+---------------+----------+
|           name|avg(price)|
+---------------+----------+
|         Iomega|     150.0|
|  Creative Labs|     150.0|
|           Sony|     240.0|
|        Fujitsu|     240.0|
|     Winchester|      62.5|
|Hewlett-Packard|     168.0|
+---------------+----------+

## Select the names of manufacturer whose products have an average price larger than or equal to 150.

<div class="alert alert-block alert-info">
<b>Question:</b> 
    14. Select the names of manufacturer whose products have an average price larger than or equal to $150.
</div>

In [139]:
dfp.head(2)

   code        name  price  manufacturer
0     1  Hard drive    240             5
1     2      Memory    120             6

In [140]:
dfp.merge(dfm,left_on='manufacturer', right_on='code')\
.groupby('name_y')['price'].mean()\
.rename('avg_price').rename_axis('manufacturer')\
.loc[lambda x: x>=150]\
.reset_index()

      manufacturer  avg_price
0    Creative Labs      150.0
1          Fujitsu      240.0
2  Hewlett-Packard      168.0
3           Iomega      150.0
4             Sony      240.0

In [141]:
# spark

In [142]:
sdf.show(2)

+------------+------------+-----+------------+-----------------+-----------------+
|code_product|name_product|price|manufacturer|code_manufacturer|name_manufacturer|
+------------+------------+-----+------------+-----------------+-----------------+
|           5|     Monitor|  240|           1|                1|             Sony|
|           2|      Memory|  120|           6|                6|       Winchester|
+------------+------------+-----+------------+-----------------+-----------------+
only showing top 2 rows

In [143]:
sdf.groupBy('name_manufacturer').agg({'price':'avg'})\
.filter('avg(price) >= 150').show()

+-----------------+----------+
|name_manufacturer|avg(price)|
+-----------------+----------+
|           Iomega|     150.0|
|    Creative Labs|     150.0|
|             Sony|     240.0|
|          Fujitsu|     240.0|
|  Hewlett-Packard|     168.0|
+-----------------+----------+

In [144]:
# sql

In [145]:
spark.sql("""
select M.name, avg(price)
from Products P inner join Manufacturers M
on P.manufacturer = M.code
group by M.name
having avg(price) >= 150
""").show()

+---------------+----------+
|           name|avg(price)|
+---------------+----------+
|         Iomega|     150.0|
|  Creative Labs|     150.0|
|           Sony|     240.0|
|        Fujitsu|     240.0|
|Hewlett-Packard|     168.0|
+---------------+----------+

## Select the name and price of the cheapest product.

<div class="alert alert-block alert-info">
<b>Question:</b> 
    15. Select the name and price of the cheapest product.
</div>

In [146]:
dfp.head(2)

   code        name  price  manufacturer
0     1  Hard drive    240             5
1     2      Memory    120             6

In [147]:
dfp.loc[dfp.price==dfp.price.min(), ['name','price']]

          name  price
3  Floppy disk      5

In [148]:
m = dfp.price.min()
dfp.query("price == @m")[['name','price']]

          name  price
3  Floppy disk      5

In [149]:
dfp.query("price == @dfp.price.min()")[['name','price']]

          name  price
3  Floppy disk      5

In [150]:
dfp.nsmallest(1,'price')[['name','price']]

          name  price
3  Floppy disk      5

In [151]:
dfp.sort_values('price').head(1)[['name','price']]

          name  price
3  Floppy disk      5

In [152]:
dfp.sort_values('price').iloc[[0]][['name','price']]

          name  price
3  Floppy disk      5

In [153]:
# spark

In [154]:
# sdfp.select('name','price').filter(sdfp.price == _min(sdfp.price)).show()
# this gives Py4JJavaError

In [155]:
sdfp.orderBy('price',ascending=True).limit(1).select('name','price').show()

+-----------+-----+
|       name|price|
+-----------+-----+
|Floppy disk|    5|
+-----------+-----+

In [156]:
# sql

In [157]:
spark.sql("""
select name, price
from Products
where price = (select min(price) from Products)
""").show()

+-----------+-----+
|       name|price|
+-----------+-----+
|Floppy disk|    5|
+-----------+-----+

In [158]:
# bad way
spark.sql("""
select *
from Products
order by price
limit 1
""").show()

+----+-----------+-----+------------+
|code|       name|price|manufacturer|
+----+-----------+-----+------------+
|   4|Floppy disk|    5|           6|
+----+-----------+-----+------------+

## Select the name of each manufacturer along with the name and price of its most expensive product.

<div class="alert alert-block alert-info">
<b>Question:</b> 
    16. Select the name of each manufacturer along with the name and price of its most expensive product.
</div>

In [159]:
dfp.merge(dfm,left_on='manufacturer', right_on='code')\
.nlargest(1,'price')[['name_y','price']]

            name_y  price
8  Hewlett-Packard    270

In [160]:
df = dfp.merge(dfm,left_on='manufacturer', right_on='code')
df

   code_x           name_x  price  manufacturer  code_y           name_y
0       1       Hard drive    240             5       5          Fujitsu
1       2           Memory    120             6       6       Winchester
2       4      Floppy disk      5             6       6       Winchester
3       3        ZIP drive    150             4       4           Iomega
4       5          Monitor    240             1       1             Sony
5       6        DVD drive    180             2       2    Creative Labs
6       7         CD drive     90             2       2    Creative Labs
7      10       DVD burner    180             2       2    Creative Labs
8       8          Printer    270             3       3  Hewlett-Packard
9       9  Toner cartridge     66             3       3  Hewlett-Packard

In [161]:
# for each manufactures, seleect rows with max price for that manufacturer.

In [162]:
df['max_price_manufacturer'] = df.groupby('name_y')['price'].transform(max)

df

,code_x,name_x,price,manufacturer,code_y,name_y,max_price_manufacturer
0,1,Hard drive,240,5,5,Fujitsu,240
1,2,Memory,120,6,6,Winchester,120
2,4,Floppy disk,5,6,6,Winchester,120
3,3,ZIP drive,150,4,4,Iomega,150
4,5,Monitor,240,1,1,Sony,240
5,6,DVD drive,180,2,2,Creative Labs,180
6,7,CD drive,90,2,2,Creative Labs,180
7,10,DVD burner,180,2,2,Creative Labs,180
8,8,Printer,270,3,3,Hewlett-Packard,270
9,9,Toner cartridge,66,3,3,Hewlett-Packard,270

In [163]:
df[df.price==df.max_price_manufacturer]

,code_x,name_x,price,manufacturer,code_y,name_y,max_price_manufacturer
0,1,Hard drive,240,5,5,Fujitsu,240
1,2,Memory,120,6,6,Winchester,120
3,3,ZIP drive,150,4,4,Iomega,150
4,5,Monitor,240,1,1,Sony,240
5,6,DVD drive,180,2,2,Creative Labs,180
7,10,DVD burner,180,2,2,Creative Labs,180
8,8,Printer,270,3,3,Hewlett-Packard,270

In [164]:
# spark

In [165]:
sdf.show(2)

+------------+------------+-----+------------+-----------------+-----------------+
|code_product|name_product|price|manufacturer|code_manufacturer|name_manufacturer|
+------------+------------+-----+------------+-----------------+-----------------+
|           5|     Monitor|  240|           1|                1|             Sony|
|           2|      Memory|  120|           6|                6|       Winchester|
+------------+------------+-----+------------+-----------------+-----------------+
only showing top 2 rows

In [166]:
from pyspark.sql.window import Window

window = Window().partitionBy('name_manufacturer')

sdf = sdf.withColumn('max_price_manufacturer',
                      F.max('price').over(window))

sdf.select('name_manufacturer','price','max_price_manufacturer').show()

+-----------------+-----+----------------------+
|name_manufacturer|price|max_price_manufacturer|
+-----------------+-----+----------------------+
|           Iomega|  150|                   150|
|    Creative Labs|  180|                   180|
|    Creative Labs|   90|                   180|
|    Creative Labs|  180|                   180|
|             Sony|  240|                   240|
|          Fujitsu|  240|                   240|
|       Winchester|  120|                   120|
|       Winchester|    5|                   120|
|  Hewlett-Packard|  270|                   270|
|  Hewlett-Packard|   66|                   270|
+-----------------+-----+----------------------+

In [167]:
sdf[sdf.price==sdf.max_price_manufacturer].show()

+------------+------------+-----+------------+-----------------+-----------------+----------------------+
|code_product|name_product|price|manufacturer|code_manufacturer|name_manufacturer|max_price_manufacturer|
+------------+------------+-----+------------+-----------------+-----------------+----------------------+
|           3|   ZIP drive|  150|           4|                4|           Iomega|                   150|
|           6|   DVD drive|  180|           2|                2|    Creative Labs|                   180|
|          10|  DVD burner|  180|           2|                2|    Creative Labs|                   180|
|           5|     Monitor|  240|           1|                1|             Sony|                   240|
|           1|  Hard drive|  240|           5|                5|          Fujitsu|                   240|
|           2|      Memory|  120|           6|                6|       Winchester|                   120|
|           8|     Printer|  270|           3|                3|  Hewlett-Packard|                   270|
+------------+------------+-----+------------+-----------------+-----------------+----------------------+

In [168]:
# sql

In [169]:
spark.sql("""
select P.name, P.price, M.name
from Products P, Manufacturers M
where P.manufacturer = M.code
 and P.price =
 (
   select max(P.price)
     from Products P
     where P.Manufacturer = M.Code
 )
""").show()

+----------+-----+---------------+
|      name|price|           name|
+----------+-----+---------------+
| DVD drive|  180|  Creative Labs|
|DVD burner|  180|  Creative Labs|
|    Memory|  120|     Winchester|
|Hard drive|  240|        Fujitsu|
| ZIP drive|  150|         Iomega|
|   Monitor|  240|           Sony|
|   Printer|  270|Hewlett-Packard|
+----------+-----+---------------+

In [170]:
spark.sql("""
select P.name, P.price, M.name
from Products P, Manufacturers M
where P.manufacturer = M.code
 and P.price =
 (
   select max(P.price)
     from Products P, Manufacturers M
     where P.Manufacturer = M.Code
 )
""").show()

+-------+-----+---------------+
|   name|price|           name|
+-------+-----+---------------+
|Printer|  270|Hewlett-Packard|
+-------+-----+---------------+

## Add a new product: Loudspeakers, 70, manufacturer 2.

<div class="alert alert-block alert-info">
<b>Question: 17</b> 
    Add a new product: Loudspeakers, $70, manufacturer 2.
</div>

In [171]:
dfp.tail(2)

   code             name  price  manufacturer
8     9  Toner cartridge     66             3
9    10       DVD burner    180             2

In [172]:
dfp.loc[len(dfp)] = [dfp.code.iloc[-1]+1, 'Loudspeakers', 70, 2]

dfp

    code             name  price  manufacturer
0      1       Hard drive    240             5
1      2           Memory    120             6
2      3        ZIP drive    150             4
3      4      Floppy disk      5             6
4      5          Monitor    240             1
5      6        DVD drive    180             2
6      7         CD drive     90             2
7      8          Printer    270             3
8      9  Toner cartridge     66             3
9     10       DVD burner    180             2
10    11     Loudspeakers     70             2

In [173]:
# pyspark

In [174]:
"""
spark df and rdd are immutable, we can not insert row to them,
but we can create new dataframe and union to old df and create new immutable dataframe.

""";

In [175]:
sdfp.show()

+----+---------------+-----+------------+
|code|           name|price|manufacturer|
+----+---------------+-----+------------+
|   1|     Hard drive|  240|           5|
|   2|         Memory|  120|           6|
|   3|      ZIP drive|  150|           4|
|   4|    Floppy disk|    5|           6|
|   5|        Monitor|  240|           1|
|   6|      DVD drive|  180|           2|
|   7|       CD drive|   90|           2|
|   8|        Printer|  270|           3|
|   9|Toner cartridge|   66|           3|
|  10|     DVD burner|  180|           2|
+----+---------------+-----+------------+

In [176]:
sdfp.count()

10

In [177]:
newRow = spark.createDataFrame([(sdfp.count()+1,'Loudspeakers', 70, 2)], sdfp.columns)
appended = sdfp.union(newRow)
appended.show()

+----+---------------+-----+------------+
|code|           name|price|manufacturer|
+----+---------------+-----+------------+
|   1|     Hard drive|  240|           5|
|   2|         Memory|  120|           6|
|   3|      ZIP drive|  150|           4|
|   4|    Floppy disk|    5|           6|
|   5|        Monitor|  240|           1|
|   6|      DVD drive|  180|           2|
|   7|       CD drive|   90|           2|
|   8|        Printer|  270|           3|
|   9|Toner cartridge|   66|           3|
|  10|     DVD burner|  180|           2|
|  11|   Loudspeakers|   70|           2|
+----+---------------+-----+------------+

In [178]:
"""

%%sql

insert into Products(code,name,         price,manufacturer)
values              (11, 'Loudspeakers',70,   2);


""";

## Update the name of product 8 to "Laser Printer".

<div class="alert alert-block alert-info">
<b>Question:</b> 
    18. Update the name of product 8 to "Laser Printer".
</div>

In [179]:
dfp.loc[dfp.code==8,'name'] = 'Laser Printer'
dfp

    code             name  price  manufacturer
0      1       Hard drive    240             5
1      2           Memory    120             6
2      3        ZIP drive    150             4
3      4      Floppy disk      5             6
4      5          Monitor    240             1
5      6        DVD drive    180             2
6      7         CD drive     90             2
7      8    Laser Printer    270             3
8      9  Toner cartridge     66             3
9     10       DVD burner    180             2
10    11     Loudspeakers     70             2

In [180]:
# spark

In [181]:
sdfp.show()

+----+---------------+-----+------------+
|code|           name|price|manufacturer|
+----+---------------+-----+------------+
|   1|     Hard drive|  240|           5|
|   2|         Memory|  120|           6|
|   3|      ZIP drive|  150|           4|
|   4|    Floppy disk|    5|           6|
|   5|        Monitor|  240|           1|
|   6|      DVD drive|  180|           2|
|   7|       CD drive|   90|           2|
|   8|        Printer|  270|           3|
|   9|Toner cartridge|   66|           3|
|  10|     DVD burner|  180|           2|
+----+---------------+-----+------------+

In [182]:
sdfp.withColumn("new_name", F.when(F.col("code")==8, 'Laser Printer')\
                             .otherwise(F.col("name")))\
.drop('name')\
.withColumnRenamed('new_name','name')\
.show()

+----+-----+------------+---------------+
|code|price|manufacturer|           name|
+----+-----+------------+---------------+
|   1|  240|           5|     Hard drive|
|   2|  120|           6|         Memory|
|   3|  150|           4|      ZIP drive|
|   4|    5|           6|    Floppy disk|
|   5|  240|           1|        Monitor|
|   6|  180|           2|      DVD drive|
|   7|   90|           2|       CD drive|
|   8|  270|           3|  Laser Printer|
|   9|   66|           3|Toner cartridge|
|  10|  180|           2|     DVD burner|
+----+-----+------------+---------------+

In [183]:
"""

%%sql
update Products
set name = 'Laser Printer'
where code = 8;
""";

## Apply a 10% discount to all products.

<div class="alert alert-block alert-info">
<b>Question:</b> 
    19. Apply a 10% discount to all products.
</div>

In [184]:
dfp['price'] *= 0.9
dfp

    code             name  price  manufacturer
0      1       Hard drive  216.0             5
1      2           Memory  108.0             6
2      3        ZIP drive  135.0             4
3      4      Floppy disk    4.5             6
4      5          Monitor  216.0             1
5      6        DVD drive  162.0             2
6      7         CD drive   81.0             2
7      8    Laser Printer  243.0             3
8      9  Toner cartridge   59.4             3
9     10       DVD burner  162.0             2
10    11     Loudspeakers   63.0             2

In [185]:
# spark

In [186]:
sdfp.withColumn('discounted_price', F.col('price')*0.9).show()

+----+---------------+-----+------------+----------------+
|code|           name|price|manufacturer|discounted_price|
+----+---------------+-----+------------+----------------+
|   1|     Hard drive|  240|           5|           216.0|
|   2|         Memory|  120|           6|           108.0|
|   3|      ZIP drive|  150|           4|           135.0|
|   4|    Floppy disk|    5|           6|             4.5|
|   5|        Monitor|  240|           1|           216.0|
|   6|      DVD drive|  180|           2|           162.0|
|   7|       CD drive|   90|           2|            81.0|
|   8|        Printer|  270|           3|           243.0|
|   9|Toner cartridge|   66|           3|            59.4|
|  10|     DVD burner|  180|           2|           162.0|
+----+---------------+-----+------------+----------------+

In [187]:
# sql

In [188]:
"""
update Products
set price = price * 0.9

set price = price - (price * 0.1)

""";

## Apply a 10% discount to all products with a price larger than or equal to 120.

<div class="alert alert-block alert-info">
<b>Question:</b> 
    20. Apply a 10% discount to all products with a price larger than or equal to $120.
</div>

In [189]:
dfp

    code             name  price  manufacturer
0      1       Hard drive  216.0             5
1      2           Memory  108.0             6
2      3        ZIP drive  135.0             4
3      4      Floppy disk    4.5             6
4      5          Monitor  216.0             1
5      6        DVD drive  162.0             2
6      7         CD drive   81.0             2
7      8    Laser Printer  243.0             3
8      9  Toner cartridge   59.4             3
9     10       DVD burner  162.0             2
10    11     Loudspeakers   63.0             2

In [190]:
dfp.loc[dfp.price >= 120, 'price'] *= 0.9
dfp

    code             name  price  manufacturer
0      1       Hard drive  194.4             5
1      2           Memory  108.0             6
2      3        ZIP drive  121.5             4
3      4      Floppy disk    4.5             6
4      5          Monitor  194.4             1
5      6        DVD drive  145.8             2
6      7         CD drive   81.0             2
7      8    Laser Printer  218.7             3
8      9  Toner cartridge   59.4             3
9     10       DVD burner  145.8             2
10    11     Loudspeakers   63.0             2

In [191]:
# spark

In [192]:
sdfp.withColumn("discounted_price",
                F.when(F.col("price")>=120, F.col('price')*0.9)\
                 .otherwise(F.col("price"))
               ).show()

+----+---------------+-----+------------+----------------+
|code|           name|price|manufacturer|discounted_price|
+----+---------------+-----+------------+----------------+
|   1|     Hard drive|  240|           5|           216.0|
|   2|         Memory|  120|           6|           108.0|
|   3|      ZIP drive|  150|           4|           135.0|
|   4|    Floppy disk|    5|           6|             5.0|
|   5|        Monitor|  240|           1|           216.0|
|   6|      DVD drive|  180|           2|           162.0|
|   7|       CD drive|   90|           2|            90.0|
|   8|        Printer|  270|           3|           243.0|
|   9|Toner cartridge|   66|           3|            66.0|
|  10|     DVD burner|  180|           2|           162.0|
+----+---------------+-----+------------+----------------+

In [193]:
# sql

In [194]:
"""
update Products
set price = price * 0.9
where price >= 120;

""";

In [195]:
time_taken = time.time() - time_start_notebook
h,m = divmod(time_taken,60*60)
print('Time taken: {:.0f} hr {:.0f} min {:.0f} secs'.format(h, *divmod(m,60)))

Time taken: 0 hr 1 min 18 secs